body {
    
}

.container {
    margin-top: 50px;
    margin-bottom: 60px;
}

.portfolio-info {
    color: dimgrey;
}

.portfolio-title-description {
    color: #5981a9;
}

.portfolio-subtitle {
    margin-top: 31px;
    color: dimgrey;
}

.portfolio-subtitle-1 {
    margin-top: -.5rem;
}

.portfolio-card {
    text-align: center;
    padding: 0 0;
    position: relative;
    background-color: #303030;
    margin-top: 50px;
}

.portfolio-card .portfolio-card-image {
    width: 100%;
}

.portfolio-card-email {
    color: white; 
}

.rz-fieldset {
    border: none;
    border-radius: 0 0;
}

.portfolio-secondary-card {
    text-align: left;
    padding: 0 0;
    position: relative;
    background-color: #303030;
    margin-top: 50px;
    color: white;
}

.portfolio-card-items {
    font-size: 16px;
    margin: 0 20px 0 20px;
}

.portfolio-link-view-experience {
    text-align: center;
    margin-top: 107px;
}

.portfolio-experience-card-details {
    margin-top: 40px;
}

