@page "/"

<PageTitle>About Me</PageTitle>

<div class="container">
    <div class="portfolio-info">
        <h1 class="portfolio-title">
            Hi, I'm
            <span class="portfolio-title-description"> John Jovence Laspiñas </span>
        </h1>
        <h4 class="portfolio-subtitle">
            I'm a Full-stack Software Developer that welcomes
        </h4>
        <h4 class="portfolio-subtitle-1">
            challenges and software solutions.
        </h4>
        
          
        <div class="row">
            <div class="col-md-6">
                <RadzenFieldset>                  
                    <div class="col-md-11 align-items-center d-flex" >
                        <RadzenCard class="portfolio-card">            
                            <RadzenImage class="portfolio-card-image" Path="css/img/PortfolioPicture.PNG" />
                            <h4 class="portfolio-card-email">johnvenzayb@gmail.com</h4>
                            <RadzenLink Path="https://github.com/JohnNightOF1544">
                                <RadzenImage Path="css/img/github.png" />
                            </RadzenLink>
                        </RadzenCard>
                    </div>
                </RadzenFieldset>
            </div>

            <div class="col-md-6">
                <RadzenFieldset>
                    <div class="col-md-10 align-items-right d-flex">
                        <RadzenCard class="portfolio-secondary-card">
                            <h3 style="margin-left: 20px;">
                                Who am I?
                            </h3>
                            <br />
                            <h4 class="portfolio-card-items">
                                Hello! I'm John Jovence Laspiñas, a Software Engineer based in Dumaguete City, Negros Oriental Philippines.
                                I'm working from home with experience in taking fullstack applications from scratch to production.
                            </h4>
                            <h4 class="portfolio-card-items">
                                I'm a bachelor degree holder. I took a Bachelor of Science in Information Technology in Foundation University. 
                                A former manager of Hackerspace/Arts and Technology incubator in Dumaguete City called NightOwl, 
                                it is Institutionalized in Foundation University.
                            </h4>
                            <h4 class="portfolio-card-items">
                                Over the last 4 years, I’ve had the opportunity to develop for a handful of awesome Company / Phrontistery as a developer and continue to do so today. 
                                My work as a developer includes making web apps, creating backend servers, and handling small-scale DevOps.
                            </h4>
                            <div class="portfolio-link-view-experience">
                                <RadzenLink Path="https://localhost:777/experience-page">
                                    <h6>VIEW DETAILED WORK EXPERIENCE</h6>
                                </RadzenLink>
                            </div>
                        </RadzenCard>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
    </div>
</div>
@code {

}
