@page "/experience-page"

<PageTitle>My Work Experience</PageTitle>

<div class="container">
    <div class="portfolio-info">
        <h1 class="portfolio-title">
            This is,
            <span class="portfolio-title-description"> My Work Experience </span>
        </h1>
        <h4 class="portfolio-subtitle">
            Detailed information on my work history.
        </h4>

        <RadzenCard Style="margin-top: 70px;">
            <h4>Tekkibee, Cebu City, Philippines</h4>
            <h5 style="font-style: italic;">Software Engineer ( August 2022 - Present )</h5>
            <ul class="portfolio-experience-card-details">
                <li class="tg_body-1">
                    Distributing development tasks to a team of software engineers.
                </li>
                <li class="tg_body-1">
                    Designing and revising a project's structure for state machine to develop rule builder.
                </li>
                <li class="tg_body-1">
                    Using tools and methodologies to create representations for functions and user interface of desired product.
                </li>
                <li class="tg_body-1">
                    Building and integrating information systems to meet the company's needs.
                </li>
                <li class="tg_body-1">
                    Hired as one of the first employees, collaborating with other professionals to determine functional and non-functional requirements
                    for new software or applications.
                </li>
                <li class="tg_body-1">
                    Maintained a <span class="portfolio-title-description">Asp.Net Core gRPC Service</span> appointment application using
                    <span class="portfolio-title-description">Blazor Server-Side Framework</span>, implementing <span class="portfolio-title-description">Blazor</span> components to its new design
                    update to match clients desire and functions of the application.
                </li>
            </ul>
        </RadzenCard>

        <RadzenCard Style="margin-top: 30px;">
            <h4>Miller Solutions Development Inc., Dumaguete City, Philippines</h4>
            <h5 style="font-style: italic;">Software Engineer ( July 2020 - October 2020 ) as an Intern</h5>
            <ul class="portfolio-experience-card-details">
                <li class="tg_body-2">
                    Studying <span class="portfolio-title-description">C# Language</span> and implementing 4 pillars of 
                    <span class="portfolio-title-description">Object Oriented Programming 
                    (OOP) - Abstraction, Encapsulation, Inheritance and Polymorphism</span> in my applications.
                </li>
                <li class="tg_body-2">
                    Implementing <span class="portfolio-title-description">Solid Principle</span> in <span class="portfolio-title-description">C# Language</span>
                    to reach its capability to be more scalable and maintainable for every application.
                </li>
                <li class="tg_body-2">
                    Developed application in <span class="portfolio-title-description">C# Language</span> that will calculate my total hours
                    rendered that were recorded in a Daily Time Record (DTR) using a <span class="portfolio-title-description">Console Application.</span>
                </li>
                <li class="tg_body-2">
                    Created <span class="portfolio-title-description">C# Language .Net Framework</span> logbook application using 
                    <span class="portfolio-title-description">Windows Forms</span> to monitor every person for Covid-19 infection.
                </li>
                <li class="tg_body-2">
                    Implemented application in <span class="portfolio-title-description">C# Language</span> that will calculate my total 
                    hours rendered that were recorded to a Daily Time Record (DTR) in <span class="portfolio-title-description">Google Sheets</span> as an 
                    <span class="portfolio-title-description">Application Program Interface (API)</span> using a Console Application.
                </li>
            </ul>
        </RadzenCard>

        <RadzenCard Style="margin-top: 30px;">
            <h4>Foundation University, Dumaguete City, Philippines</h4>
            <h5 style="font-style: italic;">Software Engineer ( October 2019 - March 2020 (Maintain until December 2020) ) Student</h5>
            <ul class="portfolio-experience-card-details">
                <li class="tg_body-3">
                    Worked on a project called <span class="portfolio-title-description">Event Callendar</span> with <span class="portfolio-title-description"> QR Code Generator</span>
                    for specific schedules in our school.
                </li>
                <li class="th_body-3">
                    Designed the project to help students and faculty members keep track of their schedules and events.
                </li>
                <li class="tg_body-3">
                    Used <span class="portfolio-title-description">Python Flask Framework</span> to develop the web application and <span class="portfolio-title-description">MariaDb</span>
                    as the database management system.
                </li>
                <li class="tg_body-3">
                    <span class="portfolio-title-description">Fedora Linux</span> as the operating system for development and <span class="portfolio-title-description">Ubuntu Server</span>
                    for deployment.
                </li>
                <li class="tg_body-3">
                    The project was a success and deployed to a local host in our school that will help student and faculty members stay organized.
                </li>
            </ul>
        </RadzenCard>
    </div>    
</div>
@code {

}
