@page "/leadership-position"

<PageTitle>Leadership Position</PageTitle>

<div class="container">
    <div class="portfolio-info">
        <h1 class="portfolio-title">
            
            <span class="portfolio-title-description"> Leadership Position </span>
        </h1>
        <h4 class="portfolio-subtitle">
            Managing an organization involves getting people together
        </h4>
        <h4 class="portfolio-subtitle-1">
            on a common platform to make them work towards a common predefined goal.
        </h4>

        <RadzenCard Style="margin-top: 70px;">
            <h4>NightOwl Hackerspace/Arts and Technology Incubator, Dumaguete City, Philippines</h4>
            <h5 style="font-style: italic;">Manager ( November 2019 - October 2020 ) Student</h5>
            <ul class="portfolio-experience-card-details">
                <li class="tg_body-4">
                    Delegate tasks to team members and distribute a workload among appropriate team members.
                </li>
                <li class="tg_body-4">
                    Managed 7 talented and determined members to ensure that work was getting done.
                </li>
                <li class="tg_body-4">
                    Placing a value on relationships with team members and ability to motivate others.
                </li>
                <li class="tg_body-4">
                    Involved new members to ensure they are all included in conversations and have the opportunity to make friends.
                </li>
                <li class="tg_body-4">
                    While delegating and coaching team members through work, I avoid spending too much time explaining how things should be done.
                </li>
                <li class="tg_body-4">
                    Instead of focusing on the end goal, the team members were given a space to come up with their own process for doing the work.
                </li>
                <li class="tg_body-4">
                    Established the foundation for the club by implementing an official set of tasks and responsibilities for each officer in the organization bylaws.
                </li>
            </ul>
        </RadzenCard>
    </div>
</div>

@code {

}
